*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background: linear-gradient(to bottom, whitesmoke, lightblue);
}
nav{
    background-color: #413d3d;
    color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px #6b6363;
    padding: 10px;
}
nav ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    transition: all 0.3s ease;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    height: 100%;
}
nav a:hover{
    background-color: #6b6363;
}
nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(46, 43, 43, 0.493);
    box-shadow: 3px 3px 5px #6b6363;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    backdrop-filter: blur(5px);
}
.sidebar li{
    width: 100%;
}

@media screen and (max-width: 800px) {
    .mobile{
        display: none;
    }
}